<html>
    <head>
        {% if title %}
            <title>{{title}} - MicroCourse</title>
        {%else %}
            <title> Bienvenido - MicroCourse</title>
        {% endif %}
    </head>
    <body>
        
        <div>
            MicroCourse: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>

                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </body>
</html>
